<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
      <div class="relative flex h-16 items-center justify-between">
        <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
          <div class="flex flex-shrink-0 items-center">
            <img class="h-8 w-auto" src="https://media.licdn.com/dms/image/v2/D4E0BAQGqUiRRxHl3HQ/company-logo_200_200/company-logo_200_200/0/1696460908108/somosloymark_logo?e=2147483647&v=beta&t=OcYeNd1VyreC0Eq5d2VuLwY_YNEHt5QJniXunVrHTks" alt="Your Company">
          </div>
          <div class="hidden sm:ml-6 sm:block">
            <div class="flex space-x-4">
              <a routerLink="/usuarios" routerLinkActive="bg-gray-900 text-white" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Usuarios</a>
              <a routerLink="/actividades" routerLinkActive="bg-gray-900" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Actividades</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>